body {
    background-color: wheat;
    margin: 0;
    
}
header {
    display:flex;
    width:100%;
    height: 100px;
    background-color:rgb(19, 116, 122);
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

h1 {
    padding: 2%;
    position: relative;
    align-self: center;
}

h5 {
    font-size:x-large;
    font-weight: bold;
}

.record {
    color: brown;
}
#score {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2%;
}
#time {
    color: orange;
}
content {
    display: flex;
    padding: 2%;
    margin: 2%;
    align-content: column;
    justify-content: center;
}
#question {
    align-items: center;
    justify-content: unset;
}
#questionArea {
    display: flex;
    flex-direction: column;
}

.user-choice {
    padding: 2%;
    background-color:rgb(19, 116, 122);
    color: black;
    margin: 2px;
    font-weight: bold;
    font-size: large;


}
#imSpecial {
    display: flex;
    justify-content: center;
}
#start {
    border-radius: 10px;
    padding: 2%;
    background-color:rgb(19, 116, 122);
    color: black;
    margin: 2px;
    font-weight: bold;
    font-size: large;
    width: 300px;
    height: 75px;

  
}

#highScores {
    padding: 2%;
    margin: 2%;
    align-content: column;
    justify-content: center;

}
#gg {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.gg {
    display:flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;

}